.points {
    margin-bottom: 24px;
}

.points__container {
    flex-direction: column;
    align-items: center;
}

.points__title {
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 40px;
    line-height: 45px;
    color: var(--black);
}

.points__title::before {
    content: "";
    position:absolute;
    width: 67px;
    border-top: 2px solid var(--brow-white);
}

.points__list {
    justify-content: space-between;
}

.points_list__item {
    min-width: 222px;
    align-items: center;

}

.point_item__img {
    margin-bottom: 51px;
    padding-top: 9px;
    padding-left: 10px;
}

.points_item_title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 23px;
    height: 20px;
    color: var(--black);
}

.points_item__descr {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
}


.point__up {
    background-image: url("/img/line_up.svg");
    background-repeat: no-repeat;
    background-position: 79px 0;
}

.point__button {
    background-image: url("/img/line_button.svg");
    background-repeat: no-repeat;
    background-position: 79px 60px;
}